<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.thegame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InitialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivityTeam1"
            android:label="@string/team1"
            android:parentActivityName=".InitialActivity" />
        <activity
            android:name=".GameActivityTeam2"
            android:label="@string/team2"
            android:parentActivityName=".InitialActivity" />
        <activity android:name=".ScorecardActivity"></activity>
    </application>

</manifest>